# Übungsaufgaben
Importieren Sie zuerst Pandas und die Tests für dieses Übungsblatt.

In [ ]:
import pandas as pd

from tui_dsg.datasets import disney_plus_titles_director_path

from tui_dsg.pandas import *

## Aufgabe 1
Laden Sie einen Ausschnitt des Datensatzes [Disney+ Movies and TV Shows](https://www.kaggle.com/code/werador/disney-data-analysis/data) aus der Datei `disney_plus_titles_director_path`.

In [ ]:
df = ...
df

In [ ]:
aufgabe1(df)

## Aufgabe 2
Fügen Sie eine neue Spalte `release_after_2000` hinzu, welche die Information beinhaltet, ob die Produktion im oder nach dem Jahr 2000 veröffentlicht wurde.

In [ ]:
df['release_after_2000'] = ...
df

In [ ]:
aufgabe2_1(df)

Löschen Sie die Spalte `duration`.

In [ ]:
...

df

In [ ]:
aufgabe2_2(df)

## Aufgabe 3
Bestimmen Sie die jeweilige relative Anzahl an Filmen (`Movie`) und Serien (`TV Show`).

In [ ]:
abs_movie_count = 1
abs_tvshow_count = 1

...

rel_movie_count = abs_movie_count / (abs_movie_count + abs_tvshow_count)
rel_tvshow_count = abs_tvshow_count / (abs_movie_count + abs_tvshow_count)

rel_movie_count, rel_tvshow_count

In [ ]:
aufgabe3(rel_movie_count, rel_tvshow_count)

# Aufgabe 4
Drehen Sie die Tabelle um. Das Ergebnis soll die Spalten `director` und `title` enthalten. In der ersten kommt jeder Regisseur genau einmal vor, während die zweite aus einer durch Kommata mit nachfolgendem Leerzeichen (`, `) getrennten Liste besteht, die alle Titel enthält, an denen der jeweilige Regisseur mitgewirkt hat.

Teilen Sie zuerst die Spalte `director` an den enthaltenen Kommata. Stellen Sie sicher, dass sich nicht mehrere Spalten, sondern mehrere Zeilen mit geteilten Indizes ergeben. Entfernen Sie anschließend den Subindex, benennen Sie das Ergebnis in `director` um und speichern Sie das Ergebnis in einem DataFrame.

In [ ]:
series = df['director']
df_directors = series.rename('director').to_frame()

df_directors

In [ ]:
aufgabe4_1(df_directors)

Erstellen Sie eine Kopie des ursprünglichen DataFrames, die nur die Spalte `title` enthält. Joinen Sie diese Kopie mit `df_directors` mit Hilfe ihrer Indizes. Das Ergebnis ist ein DataFrame, das in der Spalte `director` jeden Regisseur mindestens einmal und in der Spalte `title` jeweils das zugehörige Werk enthält.

In [ ]:
df_titles_only = ...
df_directors_with_titles = ...

df_directors_with_titles

In [ ]:
aufgabe4_2(df_directors_with_titles)

Gruppieren Sie zuletzt nach dem Regisseur. Aggregieren Sie anschließend alle Titel, indem Sie sie durch Kommata und Leerzeichen getrennt zu einem String zusammenfügen.

In [ ]:
df_result = df_directors_with_titles
df_result

In [ ]:
aufgabe4_3(df_result)